<div *ngIf="!isAdminLoggedIn && !isEmployeeLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Taskify</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/signup" routerLinkActive="active">Register</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  </mat-toolbar>

  <!-- Main content area where routed components will be displayed -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-content">
        <div class="footer-section">
          <h4>About Us</h4>
          <p>We are just individuals like you, wanting to boost your life.</p>
        </div>
        <div class="footer-section">
          <h4>Contact</h4>
          <p>Email: arpitmehandiratta&#64;gmail.com</p>
          <p>Phone: +91 8607331802</p>
        </div>
        <div class="footer-section">
          <h4>Follow Us</h4>
          <div class="social-icons">
            <a href="#"><img src="../../../assets/fb.png" alt="Facebook"></a>
            <a href="#"><img src="../../../assets/x.png" alt="Twitter"></a>
            <a href="#"><img src="../../../assets/insta.png" alt="Instagram"></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 Taskify. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>

<div *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Taskify - Admin</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button routerLink="/admin/task" routerLinkActive="active">Post Task</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
  </mat-toolbar>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="isEmployeeLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Taskify -Employee</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/employee/dashboard" routerLinkActive="active">Dashboard</button>
    <button mat-button (click)="logout()" routerLinkActive="active">Logout</button>
  </mat-toolbar>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
